.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 85dvh;
	padding: 5rem;

	@media (max-width: 767px) {
		padding: 1rem;
	}

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 30rem;

		@media (max-width: 767px) {
			width: auto;
		}
	}

	button {
		background-color: dodgerblue;
		color: #fff;
		height: 3rem;
		font-size: 1.2rem;
		font-weight: 600;
		border: none;
		border-radius: 0.4rem;
	}

	span {
		direction: rtl;
		display: flex;
		justify-content: center;
		gap: 1rem;
		padding-top: 1rem;
	}

	.loginOrRegister {
		color: #1e40ff;
		cursor: pointer;
		font-weight: 600;
	}
}
