.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 85dvh;

	form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 30rem;

		@media (max-width: 767px) {
			width: auto;
		}
	}
}
