.container {
	direction: rtl;
	justify-items: center;

	height: 85dvh;
	padding-inline: var(--bigInlinePadding);

	@media (max-width: 767px) {
		padding-inline: var(--smallInlinePadding);
	}

	.HomeHeading {
		padding-top: 2rem;
	}
}
