.container {
	direction: rtl;
	justify-items: center;

	height: 85dvh;
	padding-inline: var(--bigInlinePadding);
	padding-block: 5rem;

	@media (max-width: 767px) {
		padding-inline: var(--smallInlinePadding);
		/* display: block; */
	}

	.HomeHeading {
		padding-top: 2rem;
	}
}
