header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10dvh;

	background-color: #333;
	color: #fff;

	padding-inline: var(--bigInlinePadding);

	@media (max-width: 767px) {
		padding: var(--smallInlinePadding);
	}
}

.logo {
	font-weight: 600;
	@media (max-width: 767px) {
		font-size: 1.7rem;
	}
}

.burger-menu {
	font-size: 1.8rem;
	display: none;

	@media (max-width: 767px) {
		display: block;
	}
}

.nav > div > ul {
	display: flex;
	align-items: center;
	gap: 2rem;
}

.nav {
	@media (max-width: 767px) {
		position: absolute;
		top: 99%;
		right: 0;
		width: 100%;
		background-color: #333;

		> div > ul {
			padding: 1rem;
			flex-direction: column;
			gap: 1rem;

			li {
				position: relative;
				padding: 0.5rem;
				text-align: center;
			}

			a {
				transition: font-size 0.3s;
			}

			li::after {
				content: '';
				position: absolute;
				top: 100%;
				left: 50%;
				translate: -50%;

				width: 5rem;
				height: 2px;
				background-color: #fff;
			}
		}
	}
}
