.container {
	height: 85dvh;
	padding: 5rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;

	.box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		gap: 1rem;

		padding: 1rem;

		outline: 1px solid black;
	}

	span {
		display: grid;
		place-items: center;

		width: 10rem;
		height: 2rem;

		font-size: 1.5rem;
		background-color: #aaa;
		cursor: pointer;
	}

	.selected {
		position: relative;
	}
	.leftBorder {
		position: absolute;
		top: 0;
		bottom: 0;
		left: -1px;
		background-color: rgb(0, 183, 255);
		width: 5px;
	}
}
